* {
    align-content: center;
    padding: 15px;
}

body {
background-color: whitesmoke;
  }

.display-4{
    font-family: 'Great Vibes', cursive;
    font-size: 50px;
    font-weight: bolder;
}
.jumbotron {
    background-color:darkgrey;
}

p{
    font-family: 'Bree Serif', serif;
    font-size: 30px;  
}
.navbar-brand{
    font-family: 'Great Vibes', cursive;
    font-size: 50px;
    font-weight: bolder;
}

.nav-link {
    font-family: 'Bree Serif', serif;
    font-size: 30px;  
    float: right;
    margin-right: 40px;;
}

.container{
    background-color:darkgrey; 
}

.form-group {
    font-family: 'Bree Serif', serif;
    font-size: larger;
}

.construction{
  
    align-content: center;
}