* {
    align-content: center;
    padding: 15px;
}

body {
background-color: whitesmoke;
  }

.display-4{
    font-family: 'Great Vibes', cursive;
    font-size: 50px;
    font-weight: bolder;
}
.jumbotron {
    background-color:darkgrey;
}

p{
    font-family: 'Bree Serif', serif;
    font-size:  30px;  
}
.navbar-brand{
    font-family: 'Great Vibes', cursive;
    font-size: 50px;
    font-weight: bolder;
    padding: 20px;
}

.nav-link {
    font-family: 'Bree Serif', serif;
    font-size: 30px;  
    float: right;
    margin-right: 40px;;
}

.container{
    background-color:darkgrey; 
}

.form-group {
    font-family: 'Bree Serif', serif;
    font-size: larger;
}

.construction{
  
    align-content: center;
}

img {
    float: left;
    margin-right: 50px;
  }
  @media screen and (max-width: 480px) {
   .jumbotron{
       max-width: 68%;
 }
  .navbar-brand{
      max-width: 50%;
      font-size:30px;
  }
  p{ 
      font-size: 20px;
      padding: 0px;
  }
  img{
      float: none;
      width: 100%;
  }
  .display-4{
      font-size: 30px;
  }
}