* {
    align-content: center;
    padding: 15px;
}

body {
background-color: whitesmoke;
  }

.display-4{
    font-family: 'Great Vibes', cursive;
    font-size: 50px;
    font-weight: bolder;
}
.jumbotron {
    background-color:darkgrey;
}

p{
    font-family: 'Bree Serif', serif;
    font-size:  30px;  
}
.navbar-brand{
    font-family: 'Great Vibes', cursive;
    font-size: 50px;
    font-weight: bolder;
    padding: 20px;
}

.nav-link {
    font-family: 'Bree Serif', serif;
    font-size: 30px;  
    float: right;
    margin-right: 40px;;
}

.container{
    background-color:darkgrey; 
}

.form-group {
    font-family: 'Bree Serif', serif;
    font-size: larger;
}

.construction{
  
    align-content: center;
}

img {
    float: left;
    margin-right: 50px;
  }
 /* @media screen and (max-width: 480px) {
 
  .navbar-brand{
      max-width: 50%;
      font-size:30px;
  }
  p{ 
      font-size: 20px;
      padding: 0px;
  }
  img{
      float: none;
      width: 100%;
  }
  .display-4{
      font-size: 30px;
  }
}*/

}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 480px) {
  .container ,.navbar-brand, .header{
    background: red;
    }
  img{
   float: none;
   width: 100;   
  }
  p{
    font-size: 15px;
  }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 500px) {
    .container {
        background: green;
    }
    .container ,.navbar-brand, .header{
        background:flex;
        }
      img{

       width: 100;   
      }
      p{
        font-size: 20px;
      }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .container {background: blue;}
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .container {background: orange;}
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .container {background: pink;}
}